<div class="blog-collection">
  <input type="text" ng-model="search">
  <p>Search: {{search}}</p>
  <article class="blog_post" ng-repeat="gist in gists|pager:pagination">
    <h2>{{gist.description}} / {{gist.owner.url}}</h2>
    <img src="{{gist.owner.avatar_url}}" alt="" height="75" width="75">
    <p ng-repeat="file in gist.files">{{file.filename | limitTo: 350}}
    </p>

    <div class="blog_info_container">
      <div class="blog_info">
        <ul ng-if="gists.length" class="blog-data">
          <li>By: {{gist.owner.login}}</li>
          <li>Date: {{gist.created_at | date:'shortDate'}}</li>
          <li>Comments: {{gist.comments}}</li>
        </ul>
        <div class="blog_info_links">
          <a href="#/blogs/{{blog._id}}" class="read_more">Read More</a>
          <button ng-click="vm.delete(blog)" class="delete_blog">delete this blog</button>
        </div>
      </div>
    </div>
  </article>
  <button type="button" ng-click="pagination.prevPage()">Prev</button>
  <button type="button" ng-click="pagination.nextPage()">Next</button>
</div>

