
<form ng-submit="vm.save()" class="blog_form">
  <legend>Create a Gist</legend>
  <fieldset>
    <label for="filename">Filename:</label>
    <input type="text" ng-model="vm.blog.filename" name="filename" />
  </fieldset>
  <fieldset>
    <label for="content">Content:</label>
    <textarea type="text" ng-model="vm.blog.content" name="content" rows="5" columns="100"></textarea>
  </fieldset>
  <fieldset>
    <label for="description">Description:</label>
    <input type="text" ng-model="vm.blog.description" name="description" />
  </fieldset>
  <button type="submit" name="Submit">Submit</button>
</form>


