
<article class="blog_post" ng-repeat="gist in gists">
  <h2>{{gist.description}} / {{gist.owner.url}}</h2>
  <img src="{{gist.owner.avatar_url}}" alt="" height="75" width="75">
  <p ng-repeat="file in gist.files">{{file.filename}}</p>
  <div class="blog_info">
    <ul ng-if="gists.length" class="blog-data">
      <li>By: {{gist.owner.login}}</li>
      <li>Date: {{gist.created_at | date:'shortDate'}}</li>
      <li>Comments: {{gist.comments}}</li>
    </ul>
  </div>
  <p class="full-post">{{vm.blog.content}}</p>
  <a href="#/blogs/{{vm.blog._id}}/edit" class="edit-button">Edit Blog</a>
  <a href="#/blogs" class="back-button">Back</a>
</article>

