
<article class="blog_post">
  <h2>{{gists.description}}<h2>
  <h4><a href="{{gists.owner.url}}">{{gists.owner.url}}</a></h4>
  <img src="{{gists.owner.avatar_url}}" alt="picture of owner" height="75" width="75">
  <p>{{gists.file.filename}}</p>
  <p ng-repeat="file in gists.files"><pre>{{gists.files|json}}<pre></p>
  <div class="blog_info">
    <ul class="blog-data">
      <li>By: {{gists.owner.login}}</li>
      <li>Date: {{gists.created_at | date:'shortDate'}}</li>
      <li>Comments: {{gists.comments}}</li>
    </ul>
  </div>
  <a href="#/blogs" class="back-button">Back</a>
</article>

