
.blog-collection {
  padding-bottom: 2em;
}

.read-more {
  @extend .add-blog;
}

.blog_info_links {
  float: right;
  button {
    margin: 0 auto;
  }
  a {
    margin: 0 auto;
  }
}

.add-blog_container {
  width: 100%;
  height: 4em;
  text-align: center;
  padding-top: 2em;
}

.add-blog {
  @include button-mock(#fff, #000, #fff, #000);
  font-size: 0.7em;
  margin: 0 auto;
  border: 1px solid $color-2;
  padding: 1.5em 4em;
  &:hover {
    border-color: #000;
  }
}
